.el-input__inner {
  max-width: 200px;
}

.el-date-editor .el-input__inner{
  text-align: center;
}

.el-input-group__append{
  right: 0px;
  .el-input__inner {
    max-width: 70px;
  }
}
  //后代选择器
.editTable  .el-input__inner {
  border: 1px solid #dcdfe6;
  color: #606266;
  padding: 0px;
}
// ：disable :hover css伪类
.editTable  .el-input__inner:disabled {
  border: 0px solid #dcdfe6;
  color: #606266;
  background-color: #fff;
}

.editTable .el-input .is-disabled .el-input__suffix{
  display: none;
}

.el-select .el-input.is-disabled .el-input__inner{
  background-color: #fff;
}


.error .el-input__inner {
  border: 1px solid #dcdfe6;
  border-radius : 4px
}


